.header__login-link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 500px) {
    .header__login-link {
        font-size: 14px;
        line-height: 17px;
    }
  }