.profile__subtitle {
  grid-area: subtitle;
  margin: 0;
  max-width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  align-self: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 12px;
  margin-left: 10px;
}

@media screen and (max-width: 700px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    justify-self: center;
    margin-bottom: 0;
    margin-top: 10px;
    margin-left: 2px;
  }
}