.login__button {
    width: 100%;
    height: 50px;
    border: 0;
    margin: 0;
    cursor: pointer;
    background: #fff;
    color: black;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    border-radius: 2px;
    margin-top: 216px;
    padding: 0;
}

@media screen and (max-width: 900px) {
    .login__button {
        font-size: 16px;
        line-height: 19px;
    }
  }