.info-popup__close {
    position: absolute;
    width: 32px;
    height: 32px;
    right: -40px;
    top: -40px;
    cursor: pointer;
    color: #FFFFFF;
    background-color: transparent;
    background-image: url(../../../images/Close.svg);
    background-position: center;
    background-size: cover;
    border: none;
    padding: 0;
  }
  
  .info-popup__close:hover {
    opacity: 0.6;
  }
  
  @media screen and (max-width: 400px) {
    .info-popup__close {
      width: 20px;
      height: 20px;
      right: 0px;
      top: -37px; 
    }
  }
  