.header__exit {
    display: flex;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    color: white;
}

@media screen and (max-width: 900px) {
    .header__exit {
        color: #A9A9A9;
    }
  }