.login__title {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    padding-bottom: 20px;
}

@media screen and (max-width: 900px) {
    .login__title {
        font-size: 20px;
        line-height: 24px;
    }
  }