.popup__container {
  position: relative;
  background: #ffffff;
  color: black;
  width: 430px;
  padding: 34px 36px 37px;
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 500px) {
  .popup__container  {
    max-width: 282px;
    padding: 25px 22px;
  }
}