.header {
  max-width: 880px;
  padding-top: 45px;
  padding-bottom: 35px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .header {
    padding-left: 27px;
    padding-top: 28px;
    padding-bottom: 27px;
    padding-right: 27px;
  }
}